{% extends "events/_base.html" %}

{% block content %}


<!-- component -->
<div class="py-6 px-12 space-y-12 bg-gray-100 min-h-screen w-full">
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
				<!-- All participants -->
				<div class="flex flex-col px-6 py-2 bg-white shadow rounded-lg overflow-hidden">
					<div class="flex flex-col items-center space-y-2">
						<div class="text-6xl font-bold tracking-tight leading-none text-blue-500">{{stats.total_participants}}</div>
						<div class="text-lg font-medium text-blue-500">All participants</div>
					</div>
				</div>
				<!-- All Events -->
				<a href="{% url 'organizer-dashboard' %}">
                    <div class="flex flex-col px-6 py-2 bg-white shadow rounded-lg overflow-hidden">
					<div class="flex flex-col items-center space-y-2">
						<div class="text-6xl font-bold tracking-tight leading-none text-amber-500">{{stats.total_events}}</div>
						<div class="text-lg font-medium text-amber-600">All Events</div>
					</div>
				</div>
                </a>
				<!-- Upcoming Events -->
				<a href="{% url 'organizer-dashboard' %}?type=upcoming">
                    <div class="flex flex-col px-6 py-2 bg-white shadow rounded-lg overflow-hidden">
					<div class="flex flex-col items-center space-y-2">
						<div class="text-6xl font-bold tracking-tight leading-none text-red-500">{{stats.upcoming_events}}</div>
						<div class="text-lg font-medium text-red-600">Upcoming Events</div>
					</div>
				</div>
                </a>
				<!-- Past Events -->
				<a href="{% url 'organizer-dashboard' %}?type=past">
                    <div class="flex flex-col px-6 py-2 bg-white shadow rounded-lg overflow-hidden">
					<div class="flex flex-col items-center space-y-2">
						<div class="text-6xl font-bold tracking-tight leading-none text-primary-900">{{stats.past_events}}</div>
						<div class="text-lg font-medium text-primary-900">Past Events</div>
					</div>
				</div>
                </a>
			</div>

            <section>
                <!-- component -->
<div class="p-6 overflow-scroll px-0">
  <table class="mt-4 w-full min-w-max table-auto text-left">
    <thead>
      <tr>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Events <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                </svg>
          </p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Description <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
            </svg>
          </p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Category and Participants<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
            </svg>
          </p>
        </th>
        {% comment %} <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Update <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
            </svg>
          </p>
        </th> {% endcomment %}
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Delete <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
            </svg>
          </p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Edit</p>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for e in events %}
        <tr>
        <td class="p-4 border-b border-blue-gray-50">
          <div class="flex items-center gap-3">
            <div class="flex flex-col">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{e.name}}</p>
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Date: {{e.date}}</p>
            </div>
          </div>
        </td>
        <td class="p-4 border-b border-blue-gray-50">
         <p>{{e.description}}</p>
        </td>
        <td class="p-4 border-b border-blue-gray-50">
          <div class="flex flex-col space-y-2">
             <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{e.category.name}}</p>
             <div class="flex items-center -space-x-5 gap-3">
            {% for participant in e.participants.all %}
                <p class="bg-yellow-300 w-8 h-8 flex justify-center items-center rounded-full">{{participant.name|slice:':2'}}</p>
            {% endfor %}
            
            
            
          </div>
           
          </div>
        </td>
        {% comment %} <td class="p-4 border-b border-blue-gray-50">
          <div class="w-max">
            
                <div class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-green-500/20 text-green-600 py-1 px-2 text-xs rounded-md" style="opacity: 1;">
              <span class="">Update</span>
            </div>
           
          </div>
        </td> {% endcomment %}
        <td class="p-4 border-b cursor-pointer border-blue-gray-50">
        <form action="{% url 'delete-event' e.id %}" method="POST">
            {% csrf_token %}
             <button type="submit" class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">X</button>
        </form>
        </td>
        <td class="p-4 border-b border-blue-gray-50">
        <a href="{% url 'update-event' e.id %}">
          <button class="relative align-middle select-none font-sans cursor-pointer font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-4 w-4">
                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path>
              </svg>
            </span>
          </button>
           </a>
        </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
</div>

            </section>
		
	</div>
</div>


{% endblock content %}



